# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
*.jks

# Firebase
.firebase/
firebase-debug.log
.firebaserc.local

# Functions
functions/node_modules/
functions/lib/

# Environment
*.env
.env.*
*.local
google-services.json
GoogleService-Info.plist
serviceAccountKey.json

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
